/* oasis heart section wrapper */
.oasisHeart {
	@apply flex flex-col gap-3;
	background: radial-gradient(
		circle at 40% 50%,
		rgba(60, 83, 140, 0.951),
		rgba(3, 7, 17, 0.85),
		rgba(72, 158, 152, 0.3),
		8%,
		rgba(72, 158, 152, 0.3),
		10%,
		rgba(68, 137, 193, 0.2),
		10%,
		rgba(157, 93, 222, 0.15),
		20%,
		rgba(3, 7, 17, 0.85)
	);
}

/* oasis content container */
.oasisHeartContent {
	@apply mt-12 ml-16 md:max-w-[664px] md:ml-28;
}

/* oasis content container p tag*/
.oasisHeartContent > p {
	@apply text-lg text-slate-300 font-light lg:text-xl;
}

/* oasis card card grid container */
.oasisHeartCards {
	@apply grid grid-cols-1 md:grid-cols-2  gap-8 mt-10;
}

/* oasis heart individual card */
.oasisHeartCards > .oasisHeartCard {
	@apply flex flex-col gap-3;
}

/* oasis heart individual card icon container */
.oasisHeartCards > .oasisHeartCard .cardIconDiv {
	@apply p-3 rounded-2xl w-fit text-4xl;
}

/* oasis heart individual card title */
.oasisHeartCards > .oasisHeartCard .heartCardText h2 {
	@apply text-lg text-slate-200 font-semibold lg:text-xl;
}

/* oasis heart individual card paragraph */
.oasisHeartCards > .oasisHeartCard .heartCardText p {
	@apply text-sm text-slate-400 font-light lg:text-lg;
}

/* oasis heart button container */
.oasisHeartCards > .oasisHeartCardsButton {
	/* @apply ; */
}

/* oasis heart button */
.oasisHeartCards > .oasisHeartCardsButton > button {
	@apply text-[#f59f0bcc] flex items-center gap-3 px-6 py-3 rounded-lg font-semibold duration-300 ease-in-out lg:text-lg;
	border: 1px solid rgba(245, 159, 11, 0.8);
}

@media (min-width: 1024px) {
	.oasisHeartCards > .oasisHeartCardsButton > button:hover {
		background: linear-gradient(
			45deg,
			rgba(245, 159, 11, 0.8),
			rgb(254, 180, 123, 0.75),
			rgb(254, 180, 123, 0.8),
			rgba(245, 159, 11, 0.7),
			rgba(245, 159, 11, 0.55)
		);
		color: rgb(203 213 225);
		/* border: 1px solid transparent; */
	}
}

/* oasis heart button icon */
.oasisHeartCards > .oasisHeartCardsButton > button svg {
	@apply text-3xl;
}
